#main{
    text-align: center;
    padding: 20px;
    background-color:rgb(45, 45, 45,0.1);
  }
  #title{
    font-weight: 100;
  }
  #list{
    font-size:larger ;
    text-align: left;
    max-width: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 20px;
    line-height: 1.9;
  }

  #italic{
    font-size: medium;
    position: relative;
    text-align: left;
    max-width: 50%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding:20px;
    line-height: 1.6;
  }
  h3{
    font-size: large;
  }
  #tribute-link{
    color: purple;

  } 
